{% extends 'base.html'%}

    

{% block content %}

  <!--main content wrapper-->
  <div class="content-wrapper m-0">

    <div class="container-fluid">
  <div class="content-wrapper">
        
            <!-- <div class="container-fluid"> -->
        <!--creative states-->
<!--          creative-state-area-->

        <div class="container-fluid  mt-3 mb-5 pt-5">
            <div class="row">
                <div class="col-lg-7 col-12">
                    
                        <!-- if list_quip.count|sub:list_installation.count < 5  -->
                       
                  
                    <h3 class="text-info">
                        Tableau de bord
                        <!-- list_quip.count|sub:list_installation.count  -->
                    </h3>
                    
                         <!-- endif -->
                    
                        <!-- messages -->
                       
                            <!-- for message in messages -->
                        <div class="alert alert-{{message.tags}}">
                           
                          
                        </div>
                        

                </div>
                <div class="col-lg-5  col-12 text-lg-right">
                    <div class="row short-states mb-lg-0 mb-4">
                    </div>
                </div>

               
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-danger text-center pull-left">
                          <div class="preview">  <i class="ti-shopping-cart"></i> </div>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <a href="{% url 'stock:table_commande'%}">
                        <h3 class="mt-4">{{commande.count}} </h3>
                        <p class="mb-0">totale commandes</p>
                        </a>
                        <div class=" widget-action-link">
<!--                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>-->
                        </div>

                    </div>
                </div>

                

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-warning text-center pull-left">
                          <div class="preview col-sm-6 col-md-4 col-lg-3"><i class="ti-view-list"></i></div>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <a href="{%url 'stock:table_article'%}">  
                            <!-- url 'install:table_installation'  -->
                           
                        <h3 class="mt-4">{{article.count}} </h3>
                        <p class="mb-0">totale articles</p>
                        </a>
                        <div class=" widget-action-link">
                              
                                <!-- if list_quip.count == 0  -->
                              


                            
                                 <!-- else  -->
                                
                                <small class="text-success weight700" title="pourcentage installation">
                                   <!-- list_installation.count|div:list_quip.count|mul:100|floatformat:2 -->
                                  
<!--                               <i class="fa fa-long-arrow-up"></i>-->
                           </small>

                          
                                 <!-- endif -->
                               
                        </div>

                    </div>
                </div>


                 <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-purple text-center pull-left">
                          <div class="preview">  <i class="vl_user-male"></i> </div>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <a href="{%url 'stock:table_users'%}">
                            
                        <h3 class="mt-4"> {{user.count}} </h3>
                        <p class="mb-0">totale utilisateur</p>
                        </a>
                        <div class=" widget-action-link">
<!--                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>-->
                        </div>

                    </div>
                </div>
                

            </div>

        </div>

    <!--creative states-->

            
                </div>
            </div>

        <!--/creative states-->
     
    </div>
 </div>


{% endblock content %}
